
@media (min-width: 990px) {
  .page{
    padding-right: 320px;
  }
  .table-of-contents {
    top: 70px;
    position: fixed;
    right: 20px;
    max-width: 320px;
    overflow: hidden;
    padding: 10px;
  }
  .table-of-contents:hover{
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .table-of-contents {

  }
}
